@media (min-width: 535px) and (max-width: 940px) {
    [class*="col-"] {
        width: 100%;
    }

    .sunnyday-image {
        background-image: url("../images/night.jpg"); 
    }

    .kitten-image {
        content: url(../images/kitten-small.png);
    }

}

@media (min-width:50px) and (max-width: 534px) {
    [class*="col-"] {
        width: 100%;
    }

    .sunnyday-image {
        background-image: url("../images/dawn.png");
    }

    .kitten-image {
        content: url(../images/kitten-large.png);
        width: 90%;
    }

}